* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand'
  }
  
  .progress {
    height: 5px;
    background: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
  }
  
  .progress > span {
    display: block;
    height: 100%;
    background-color: #424B54;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
  }
  
  .jobCard {
    background-color: #8CB698;
    color: #EBF6F1;
  
    margin: 10px;
    padding: 20px;
  
    border-radius: 15px;
  
    transition: background-color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .success {
    background-color: #94B0DA;
  }
  
  .failed {
    background-color: #B48291;
    animation: failed 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s infinite;
  }
  
  @keyframes failed {
    0% {
      filter: brightness(1);
    }
    50% {
      filter: brightness(1.25);
    }
    100% {
      filter: brightness(1);
    }
  }
  
  .card {
    background-color: #8CB698;
    color: #EBF6F1;
  
    margin: 1em 5em 1em 5em;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 3em;
  
    border-radius: 30px;
  }
  
  .download {
    transition: 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    filter:opacity(50%);
  }
  
  .download:hover {
    filter: opacity(100%);
    cursor: pointer;
  }
  
  
  .animate-hover {
    transition: 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    filter: opacity(75%);
  }
  
  .animate-hover:hover {
    padding-left: 10px;
    filter: opacity(100%);
    cursor: pointer;
  }
  
  .card-padding {
    margin: 1em 5em 1em 5em;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 3em;
  }
  
  .searchButton {
    padding: .75em;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #F69EA1;
    border: 0px;
    font-size: 1em;
  }
  
  .input {
    cursor: pointer;
    padding: .75em;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #F69EA1;
    border: 0px;
    font-size: 1em;
    outline: none;
    transition: 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  
  .input:hover {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 23fr;
    width: 100vw;
    height: 100vh;
  }
  
  .wrapper > div {
    padding: 1em;
  }
  
  .topBarColor {
    background-color: #FCDCE1;
  }
  
  .routerViewColor {
    background-color: #EBF6F1;
  }
  
  .jobViewColor {
    background-color: #CFEAE0;
  }
  
  .shimmer {
    animation: shimmer 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite;
    color:rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, .2);
  }
  
  @keyframes shimmer {
    0% {
      color: rgba(0, 0, 0, .3);
      background-color: rgba(0, 0, 0, .3);
    }
  
    50% {
      color: rgba(0, 0, 0, .2);
      background-color: rgba(0, 0, 0, .2);
    }
  
    100% {
      color: rgba(0, 0, 0, .3);
      background-color: rgba(0, 0, 0, .3);
    }
  }
  
  .fade-enter-active {
    transition: opacity .25s;
  }
  
  .fade-leave-active {
    transition: opacity 0s;
  }
  
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
  
  ::-webkit-scrollbar{
      width: 10px;
  }
  
  ::-webkit-scrollbar-track-piece{
      background-color: rgba(0,0,0,0);
  }
  
  ::-webkit-scrollbar-thumb{
      background-color: #CBCBCB;
      border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover{
      background-color: #909090;
  }