.list-enter-active {
  transition: all .5s cubic-bezier(1, 0, 0, 1);
}
.list-leave-active {
  transition: all .5s cubic-bezier(1, 0, 0, 1);
  position: absolute;
}
.list-enter {
  transform: scale(1) translateY(-200px);
  opacity: 0;
}

.list-leave-to {
  transform: scale(1) translateY(200px);
  opacity: 0;
}

.list-move {
  transition: transform 0.2s;
}

.list-enter-to, .list-leave {
  transform: scale(1);
}